<html>
<head>
    <link rel="stylesheet" type="text/css" href="resources/style.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        function plot_graph(div_name, title, x, y)
        {
            var data = [{
                x: x.data,
                y: y.data }];
            var layout = {
                title: title,
                xaxis: {
                    title: x.name,
                    titlefont: {
                    family: 'Courier New, monospace',
                    size: 18,
                    color: '#7f7f7f'
                    }
                },
                yaxis: {
                    title: y.name,
                    titlefont: {
                    family: 'Courier New, monospace',
                    size: 18,
                    color: '#7f7f7f'
                    }
                }
            };
            Plotly.newPlot( div_name, data, layout);
        }

        function light_acids(light, element)
        {
            class_id = element.className.split(" ")[0];
            relevant_elements = document.getElementsByClassName(class_id);
            for (i = 0; i <	relevant_elements.length; i++)
            {
                if(light)
                {
                    relevant_elements[i].style.backgroundColor = "yellow";
                }
                else
                {
                    relevant_elements[i].style.backgroundColor = "transparent";
                }
            }
        }

        function show_index(index, contig_id)
        {
            index_box = document.getElementById(contig_id+"_index_box");
            index_box.innerHTML = (index+1).toString();
        }

    </script>
</head>
<body>
<table border="0" id="report">
     <thead>
        <tr>
            <th><h1>{{report_title}}</h1></th>
        </tr>
        <tr><td>
		<center>
		<table border="0" id="params">
			<tr><td>
				<h3>Parameters</h3>
			</td></tr>
			<tr><td>
				<b>acid input files:</b>
			</td></tr>
			<tr><td>
                {% for acid_input_file in acid_input_files_paths %}
                    {{acid_input_file}}<br>
                {% endfor %}
			</td></tr>
			<tr><td>
				<b>trypsin input files:</b>
			</td></tr>
			<tr><td>
				{% for trypsin_input_file in trypsin_input_files_paths %}
                    {{trypsin_input_file}}<br>
                {% endfor %}
			</td></tr>
			<tr>
				<td><b>kmer size:</b> {{kmer_size}}<br> <b>kmer min overlap:</b> {{kmer_min_overlap}}<br>
                    <b>unite min overlap:</b> {{unite_min_overlap}}<br><b>unite min extension:</b>
                    {{unite_min_extension}}<br><b>merge min quality:</b> {{merge_min_quality}}</td>
			</tr>
		</table>
		</center>
		</td></tr>
    </thead>
    <tbody>
    {% for i in range(num_contigs) %}
        <tr>
            <td>
                <br>
                <center><h2>Final Contig{{i+1}}</h2></center>
            </td>
        </tr>
        <tr>
            <td><center>
                <div class="sequence"><div class="inner_seq">
                    <table border="0" id="mikra">
                        <tr><td colspan=3>
							<center><span class="explain_txt_header">Sequence with potential ambiguities/variants</span></center>
						</td></tr>
						<tr><td class="fit_to_content">
							<div class="color_marker replacement_bg"></div>
						</td><td class="fit_to_content"><span class="explain_txt">-</span></td><td>
							<span class="explain_txt" style="float:left">Replacements of N->D and Q->E {{rep_explain}}</span>
						</td></tr>
						<tr><td class="fit_to_content">
							<div class="color_marker collision_bg"></div>
						</td><td class="fit_to_content"><span class="explain_txt">-</span></td><td>
							<span class="explain_txt" style="float:left">Potential variants</span>
						</td></tr>
                        <tr><td class="fit_to_content">
							<span class="explain_txt" style="float:left">E*</span>
						</td><td class="fit_to_content"><span class="explain_txt">-</span></td><td>
							<span class="explain_txt" style="float:left">Pyroglutamate (Post-translational modification of N-terminal Q or E )</span>
						</td></tr>
					</table><br>
                {% for chunk in sequences_chunks[i] %}
                    {{chunk}}<br>
                {% endfor %}
                </div></div>
            </center></td>
        </tr>
        <tr>
            <td><br>
                <center>
					<table border=0 id="meter_table">
                        <tr><td colspan=4>
							<center><span class="explain_txt_header">Final consensus sequence</span></center>
						</td></tr>
                        <tr><td>
                            <span class="index_box_title index_box_group">Position:</span> <div id="{{kmer_contigs[i].single_identifier}}_index_box" class="index_box index_box_group">1</div>
						</td><td>
							<span class="explain_txt">Weak</span>
						</td>
						<td>
							<div id="red_green_meter"></div>
						</td>
						<td>
							<span class="explain_txt">Strong</span>
						</td></tr>
					</table>
				</center>
                <br>
                <center>
                <table border=0>
					<tr><td class="indices right">
						{{indices_left[i]}}
					</td><td>
                    <div class="sequence"><div class="inner_seq">
                        {% for chunk in final_sequences_chunks[i] %}
                            {{chunk}}<br>
                        {% endfor %}
                    </div></div>
                    </td><td class="indices left">
						{{indices_right[i]}}
					</td></tr>
				</table>
				</center>
            </td>
        </tr>
        <tr>
            <td>
                <div id="{{coverage_graphs[i].id}}"></div>
                <script>
                    plot_graph('{{coverage_graphs[i].id}}', 'Coverage Graph', {'name': 'Position on sequence', 'data': {{coverage_graphs[i].x_axis}}}, {'name': 'Coverage', 'data': {{coverage_graphs[i].y_axis}}});
                </script>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
