
body
{
    font-family: monospace;
}

table#params
{
	width:660px;
	table-layout: fixed;
	font-size: 17px;
}
table#params td
{

	vertical-align: top;
	word-wrap: break-word;
}

table#report
{
    width: 900px;
    margin: auto;
}

table#report>tr>td
{
    text-align: center;
    vertical-align:middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sequence
{
    /*width: 720px;*/
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

.inner_seq
{
    text-align: left;
    display: inline-block;
    margin: auto;
    line-height: 23px;
}

.replacement
{
    color:blue;
}

.collision
{
    color:green;
}

.replacement_bg
{
    background-color:blue;
}

.collision_bg
{
    background-color:green;
}

.color_marker
{
	width:18px;
	height:18px;
	float:left;
	margin:0px auto;
}

.explain_txt
{
    font-weight: normal;
	font-size: 16px;
}

.explain_txt_header
{
    font-weight:bold;
    font-size:18px;
}

table#mikra
{
    width: 100%;
}

table#mikra td
{
	vertical-align: top;
	text-align: left;
	padding: 3px 3px;
}



#red_green_meter
{
	background-image: url("red_green_meter.png");
	width: 405px;
	height: 20px;
}

.indices
{
	font-size:15px;
	vertical-align:top;
	line-height: 23px;
}

.left
{
	text-align:left;
}

.right
{
	text-align:right;
}

.index_box_group
{
	
}

.index_box_title
{
	float:left;
	font-size: 15px;
	font-weight: bold;
	line-height:27px;
	height:27px;
}

.index_box
{
	text-align:center;
	width: 45px;
	line-height:25px;
	height:25px;
	float:left;
	background-color: rgba(173, 216, 230, 0.49);
	border-style: solid;
	border-width: 1px;
	font-weight: normal;
	margin-left: 5px;
    margin-right: 30px;
	font-size: 15px;
}

.fit_to_content
{
	width: 1px;
}